<link rel="stylesheet" href="/css/dashboard.css">

<div class="titles">
  <div class="main-title">
    <h2>
      Carrer Camp
    </h2>
  </div>
  <div class="heading-titles">
    <h3>
      Students
    </h3>
    
    <h3>
      Jobs / Interviews
    </h3>
  </div>
</div>

<main>
  <div class="students-container">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <% for(s of student){ %>
        <div class="accordion-item bg-success-subtle my-2">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-dark text-light fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-<%= s._id %>" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
              <%= s.name %>
            </button>
          </h2>
          <div id="panelsStayOpen-<%= s._id %>" class="accordion-collapse collapse">
            <div class="accordion-body">
              <table class="details-table">
                <tr>
                  <th>Course Name</th>
                  <th>Email</th>
                  <th>Date of Birth</th>
                  <th>Grades</th>
                </tr>
                <tr>
                  <td><%= s.courseName %></td>
                  <td><%= s.email %></td>
                  <td><%= s.dob.split('-').reverse().join('-') %></td>
                  <td><%= s.grades %></td>
                </tr>
              </table>
              <br>
              <div class="d-flex flex-row-reverse mt-2">
                <!-- <a href="/students/delete-student/<%= s._id %>"><button type="button" class="btn btn-danger">Delete Record</button></a> -->
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <div class="jobs-container">
    <%- include('add-interview'); %>
    <div class="accordion" id="accordionExample2">
      <% for(i of interview){ %>
        <div class="accordion-item bg-success-subtle my-2">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-dark text-light fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-<%= i._id %>" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
              <%= i.company %> - <%= i.requirement %>
            </button>
          </h2>
          <div id="panelsStayOpen-<%= i._id %>" class="accordion-collapse collapse">
            <div class="accordion-body">
              <b>Recruitment for :</b> <%= i.requirement %>
              <br>
              <b>Company or Recruiter's Email :</b> <%= i.email %>
              <br>
              <b>Date of Interview :</b> <%= i.date.split('-').reverse().join('-') %>
              <br>
              <b>Openings :</b> <%= i.openings %>
              <br>
              <b>Location :</b> <%= i.location %>
              <br>
              <!-- <div class="d-flex flex-row-reverse mt-2">
                <a href="/students/delete-student/<%= s._id %>"><button type="button" class="btn btn-danger">Delete Record</button></a>
              </div> -->
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</main>